{% extends 'layout.html' %}
{% block title %}Rate {{ movie['title'] }}:{% endblock %}

{% block content %}
                <form action = {{url_for('rate')}} method="POST">

                    <h2>{{movie['title']}} </h2>
                    <tr>
                        <br><br>
                        <div class="checkboxgroup">

                            <label class="block" for="str0.5">0.5
                                <input type="radio" name="rating" id={{movie['title']}} value="0.5">
                            </label>

                            <label class="block" for="str1"> 1
                                <input type="radio" name="rating" id={{movie['title']}} value="1">
                            </label>

                            <label class="block" for="str1.5">1.5
                                <input type="radio" name="rating" id={{movie['title']}} value="1.5">
                            </label>

                            <label class="block" for="str2">2
                                <input type="radio" name="rating" id={{movie['title']}} value="2">
                            </label>

                            <label class="block" for="str2.5">2.5
                                <input type="radio" name="rating" id={{movie['title']}} value="2.5">
                            </label>

                            <label class="block" for="str3"> 3
                                <input type="radio" name="rating" id={{movie['title']}} value="3">
                            </label>

                            <label class="block" for="str3.5">3.5
                                <input type="radio" name="rating" id={{movie['title']}} value="3.5">
                            </label>

                            <label class="block" for="str4"> 4
                                <input type="radio" name="rating" id={{movie['title']}} value="4">
                            </label>

                            <label class="block" for="str4.5">4.5
                                <input type="radio" name="rating" id={{movie['title']}} value="4.5">
                            </label>

                            <label class="block" for="str5">5
                                <input type="radio" name="rating" id={{movie['title']}} value="5">
                            </label>
                        </div>
                    </tr><br>
                    <button type="submit" name=movieid value="{{ movie['id']}}">Rate</button>
                </form>


{% endblock %}